
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <title>人工智能</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">人工智能</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./index.html">测试回答</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <form class="form-horizontal">

        <div class="form-group has-warning">
            <textarea class="form-control" placeholder="请输入问题" rows="5" cols="200" id="question"></textarea>
        </div>

    </form>

    <div class = "center-block">
        <button class="btn btn-primary center-block look" id = "submit">获取回答 &raquo;</button>
    </div>

    <h5 class="page-header"></h5>

    <div class = "ajax_user">
    </div>

</div>

<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>